
  <!--app-add-inventory-->

  <div class="topnav">
    <a class="active" href="#"[routerLink]="['/app-home']">Home</a>
    <a href="#"[routerLink]="['product/app-view-product']">All Products</a>
    <a href="#"[routerLink]="['product/app-add-product']">Add Product</a>
    <a href="#"[routerLink]="['warehouse/app-view-warehouse']">WareHouses</a>
    <a href="#"[routerLink]="['inventory/app-view-inventory']">Inventory</a>
    <a href="#"[routerLink]="['inventory/app-add-inventory']">Add Inventory</a>
    <a href="#"[routerLink]="['inventory/app-update-inventory']">Update Inventory</a>
  </div>

