


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">

            <form [formGroup]="quantityInventoryForm" (ngSubmit)="updateInventory()">

            <div class="card-body"    >
              <h1>New Product</h1>
              <p class="text-muted">Modifica la cantidad!</p>
                     

              <div class="input-group mb-3">                    
                <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity">
              </div>
             
                <button type="submit" class="btn btn-primary px-4"  (click)="true" >UPDATE</button>                         
            </div>
            </form>

          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Warehouse BF</h2>
                <p>Update Quantity</p>
                <button type="button" class="btn btn-primary active mt-3">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
