<div class="center">

  <section class="form-register">
    <h4>Add or remove quantity</h4>
    <form [formGroup]="quantityInventoryForm" (ngSubmit)="updateInventory()">

      <p class="left-align">Quantity</p>
      <input class="controls" type="number" formControlName="quantity" placeholder="Quantity">

      <p>We are almost done!</p>
      <button class="boton" type="submit">Update Quantity</button>
      <button class="boton" [routerLink]="['/app-home']" type="submit">Back to Home ←</button>
      <p>Thank you so much!</p>
    </form>
  </section>

</div>