

<div class="center">

 
  <div class="card-container">
    <div class="card dark-card" *ngFor="let i of warehouses; let idx = index">
      <img class="product-image large-image" [src]="imageUrls[idx]"/>
      <div class="product-info">
        <p class="product-name">Name: {{ i.name }}</p>
        <p class="product-price">Address: {{ i.address }}</p>
        <p class="product-price">Phone: {{ i.phone }}</p>
        <p class="product-price">Phone: {{ i._id }}</p>   
      </div>
    </div>
  </div>


</div>
