

<div class="center">

  <section class="form-register">
    <h4>Create a new inventory</h4>
    <form [formGroup]="inventoryForm" (ngSubmit)="createInventory()">

      <p class="left-align">Select Product</p>
      <select class="controls" type="text" placeholder="select to product" formControlName="product">
        <option *ngFor="let i of products" value="{{i._id}}"> {{i.description}}</option>
      </select>

      <p class="left-align">Select Warehouse</p>
      <select class="controls" type="text" placeholder="select warehouse" formControlName="warehouse">
        <option *ngFor="let i of warehouses" value="{{i._id}}"> {{i.address}}</option>
      </select>

      <p class="left-align">Add Quantity</p>
      <input class="controls" type="number" formControlName="quantity" placeholder="Quantity">

      <p>We are almost done!</p>
      <button class="boton" type="submit">Add Inventory!</button>
      <button class="boton" [routerLink]="['/app-home']" type="submit">Back to Home</button>
      <p>Thank you so much!</p>
    </form>
  </section>

</div>